<div class = "container">

  <div class = "page-header">
    <h1>Movie #<%= @movie.id %></h1>
  </div>

  <dl class = "dl-horizontal">
    <dt>Title</dt>
    <dd><%= @movie.title %></dd>
    <dt>Year</dt>
    <dd><%= @movie.year %></dd>
    <dt>Duration</dt>
    <dd><%= @movie.duration %></dd>
    <dt>Description</dt>
    <dd><%= @movie.description %></dd>
    <dt>Image</dt>
    <img src = "<%= @movie.image_url %>" width = 320 style="margin: 8px 0px 0px 20px">


    <!-- <a href = "/movies">Back</a> -->
    <!-- <a href = "/movies/<%= @movie.id %>/edit">Edit</a> -->
    <!-- <a href = "/delete_photo/<%= @movie.id %>">Delete</a> -->
  </dl>
</div>
